<!-- views/partials/_header.ejs -->

<title>TinyApp</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
<link rel="stylesheet" type="text/css" href="/partials/stylesheet.css" />

<% if (username === undefined)  {%>
<div id='userForm' class='container'>
  <form id="login" method="POST" action="/login">
    <input class ='form-inline' id='exampleInputName2' type="text" name="username" placeholder="Username">
    <input class='btn btn-default' type="submit" name="login">
  </form>
<% } else { %>
  <form id='logout' method="POST" action='/logout'>
    <label for="logout"><%- username %></label>
    <input class='btn btn-default' type="submit" name="logout" value="logout">
  </form>
</div>
<% } %>
