body {
  background-color: #0e54a0
}

.container {
  margin-top: 50px;
}

.table-striped{
  background-color: #c7d6ef;
  width: 100%;
  border-radius: 20px;

}


#registerLink{
  margin: 30px;
  background-color: red;
}

.textBar{
  border-radius: 20px;
}



.form-group {
  margin-top: 100px;
}

.nav-bar {
  color: white;

}

.nav-bar:hover {
  color: yellow;
}

.urlEdit{
  margin-left: 100px;
  background-color: #c3d1df;
  margin-top: 100px;
  border-radius: 35px;
}

.btn {
  margin: 5px;
}

#login, #logout {
  background-color: #63a8ee;
  align-items: center;
  border-radius:25px;
  padding: 10px;
  margin: 10px;
  margin-left: 180px;
  width: 75%;
}

#shortUrlTitle{
  text-align: right;
  margin-right: 40px;
  font-size: 80px;
}

#topLeftPic{
  height: 10%;
  width: 10%;
  position: relative;
  top: 80px;
  left: 55px;
}

#updateText{
  position: relative;
  top: 0;
  padding: 0px;
}

#shortTitle {
  color: black;
  font-size: 60px;
}







