<!DOCTYPE html>
<html lang='en'>
<body>
  <title>TinyApp</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <% if (user === undefined) {%>
  <form id="login" method="POST" action="/login">
    <input type="email" name="email" placeholder="thisIsMyEmail@helloWorld.com">
    <input type="password" name="password" placeholder="•••••••••">
    <input type="submit" name="login">
  </form>
<% } else { %>
  <form id='logout' method="POST" action='/logout'>
    <label for="logout"><%- user['email'] %></label>
    <input type="submit" name="logout" value="logout">
  </form>
<% } %>

  <a href='/register'>Wanna Register?</a>

</body>
</html>