<!DOCTYPE html>
<html lang='en'>
<head>
  <%include ./partials/_header %>
</head>
<body>
  <div class='container'>
    <h1 id='shortTitle'>Short URL: <%-shortURL%></h1>
      <form method="POST" action='/urls/<%- shortURL %>'>
        <input class='textBar' type="text" name="updatedLongURL" placeholder="<%-longURL%>", style='width: 300px'>
        <input class='btn btn default' type="submit" value="Update">
      </form>
  </div>
</body>
</html>